<!DOCTYPE html>
<html>
  <head>
    <title>brunojobs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%if notice.present? && notice.include?('successfully')%>
      <div class='alert alert-success alert-dismissible fade show'>
        <b>Sucesso: </b><%=notice%>
      </div> 
    <%else if notice.present? %>
      <div class='alert alert-danger alert-dismissible fade show' role = 'alert'>
        <b>Erro!</b> <%=notice%>
      </div> 
    <%end%>
    <%= yield %>
  </body>
</html>
